[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
fastapi = "*"
hypercorn = "*"
requests = "*"
python-dotenv = "*"
pandas = "*"
neo4j = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest -vv --cov --cov-report term-missing"
coverage = "coverage html -d coverage"
lint = "pylint ./pipeline"
format = "black ./pipeline"
